/* these styles are global */
html,
body {
  height: 100%;
  margin: 0;
}

#app {
  min-height: 100vh; /* Use Viewport Height to ensure the app container fills the screen */
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
