@import './base.css';

header {
   background-color: white;
   z-index: 99;
   width: 100%;
   border-top: 12px solid #018647;
   border-bottom: 2px solid #EFEFEF;
}

nav {
   display: flex;
   flex-direction: row;
   padding: 12px 0;
   width: 90%;
   margin: 0 auto;
}

.navigation {
   display: flex;
   align-items: center;
}

ul,
.link {
   list-style: none;
   text-decoration: none;
}

li {
   padding: 16px;
   margin-left: 16px
}

.link {
   transition: .5s ease all;
   padding-bottom: 4px;
   border-bottom: 1px solid transparent;
   text-decoration: none;
}

a {
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   color: black;
}

a:hover {
   color: #018647;
}

.branding {
   display: flex;
   align-items: center;
}

.logsign {
   display: flex;
   align-items: center;
   flex: 1;
   justify-content: flex-end;
}

button {
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
   margin: 10px;
   font-weight: bold;
   transition-duration: .4s;
}

.login {
   background-color: #018647;
   border: solid #018647;
   color: white;
   border-radius: 5px;
}

.login:hover {
   background-color: white;
   color: #018647;
}

.signup {
   background-color: white;
   border: solid #018647;
   color: #018647;
   border-radius: 5px;
}

.signup:hover {
   background-color: #018647;
   color: white;
}
